.partner {
    margin-top: 30px;
    margin-bottom: 10px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee-scroll 15s linear infinite;
}

.partner-logo {
  width: 100px;
  height: 56px;
  margin: 0 15px;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}